* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", "Montserrat", sans-serif;
  color: #a7abae;
  text-align: center;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
}

p {
  font-size: 1.3rem;
}

body {
  background-color: #111d25;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container {
  margin: auto;
  width: 30rem;
}
body .container .progress-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .container .progress-container .progress {
  margin: auto;
  width: 18rem;
}
body .container .progress-container .progress-text h1 {
  color: #0098f7;
}
body .container .progress-container .progress-text .status p {
  color: #a7abae;
}
body .container .list {
  background-color: #1c2830;
  border: 1px solid rgba(167, 171, 174, 0.05);
  padding: 0.6rem 0.4rem 1.1rem;
  width: 18rem;
  margin: 1.5rem auto;
}
body .container .list .task-container {
  width: 100%;
}
body .container .list .task-container div {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .container .list .task-container div p {
  font-size: 1rem;
}
body .container .list .task-container div svg {
  font-size: 1.4rem;
  cursor: pointer;
}
body .container .list hr {
  border: none;
  border-top: 1px solid rgba(167, 171, 174, 0.05);
  margin: 1rem auto 0.7rem;
}
body .container .list .input-container input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(167, 171, 174, 0.5);
  transition: 50ms border-bottom linear;
  font-size: 1rem;
  width: 10rem;
  margin-right: 0.5rem;
}
body .container .list .input-container input:focus {
  border-bottom: 2px solid #a7abae;
}
body .container .list .input-container button {
  outline: none;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
body .container .footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .container .footer .session-count-container,
body .container .footer .grace-time-container {
  position: relative;
}
body .container .footer .session-count-container p,
body .container .footer .grace-time-container p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.7rem;
}
body .container .footer .session-count-container p span,
body .container .footer .grace-time-container p span {
  display: none;
  position: absolute;
  left: -11rem;
  top: -0.2rem;
  padding: 0.4rem 0.2rem;
  background-color: #1c2830;
  border: rgba(167, 171, 174, 0.05);
  font-size: 0.8rem;
  width: 10rem;
  z-index: 1;
}
body .container .footer .session-count-container p:hover span,
body .container .footer .grace-time-container p:hover span {
  display: block;
}
body .container .footer .grace-time-container p {
  margin-left: 1.5rem;
}
body .container .footer .grace-time-container p span {
  left: -9rem;
}
body .container .footer .grace-time-container p:hover span {
  display: block;
}
body .container .footer .button-control-container svg[data-testid=ReplayIcon] {
  margin-left: 1.3rem;
}
body .container .footer .button-control-container button {
  background: none;
  border: 2px solid #a7abae;
  margin: 0 1.5rem;
}
body .container .footer .button-control-container svg[data-testid=SkipNextIcon] {
  margin-right: 1rem;
}
body .container .footer .button-control-container svg[data-testid=VolumeUpIcon] {
  margin-right: 1rem;
}
body .container .footer .button-control-container svg[data-testid=OpenInNewIcon] {
  transform: rotate(180deg);
}/*# sourceMappingURL=main.css.map */