html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(20,2,64);
    background: linear-gradient(315deg, rgba(20,2,64,1) 0%, rgba(79,11,129,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.activity-watch-logo {
    width: 10rem;
    border-radius: 1rem;
}
.instagram-logo {
    width: 3rem;
    border-radius: 1rem;
}
#logo {
    display: flex;
    height: 16rem;
    align-items: center;
    margin-bottom: 2rem;
}
#logo img, #logo svg {
    height: 100%;
    width: 100%;
}
#logo span {
    display: block;
    height :75%;
    width: 1ch;
    background: #fafafa;
    opacity: .67;
    margin: 0 5ch;
}
#text {
    border: 2px solid #fcfffb;
    background: transparent;
    font-size: 30pt;
    box-shadow: 0px 0px 5px 2px #47e6f2, inset 0px 0px 5px 2px #47e6f2;
    padding: 7px;
}
#app {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 1000px;
    margin: 0 auto;
}
.left, .right {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
.right.invis {
    animation: goodbye 400ms ease-in;
    animation-fill-mode: forwards;
}
@keyframes goodbye {
    0% {
        transform: scaleY(100%);
        opacity: 1;
        width: 50%;
    }
    50% {
        transform: scaleY(1%);
        opacity: 0.8;
        width: 50%;
    }
    100% {
        transform: scaleY(1%);
        width: 0%;
        opacity: 0;
    }
}
.widget {
    position: relative;
    width: 100%;
    min-height: 8rem;
    overflow: hidden;
}
.left .widget {
    flex-grow: 1;
}
.right .widget:nth-of-type(1), .right .widget:nth-of-type(2) {
    flex-grow: 1;
}
.right .widget:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
iframe, canvas#chart {
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    margin: 4px;
    background: transparent;
}
.btn-hide {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgb(255, 0, 211), inset 0px 0px 2px 1px rgb(255, 0, 211);
    border: 1px solid #fcfffb;
    border-radius: 50%;
    color: #fafafa;
    position: absolute;
    top: 9px;
    right: 0;
    transition: opacity 200ms ease;
}
.btn-hide:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
.curtain {
    transition: opacity 200ms ease;
}
.curtain.activated {
    opacity: 0.1;
    filter: blur(10px);
}
.curtain.activated:hover {
    opacity: 0.2;
}
button.collapse-btn {
    height: 100%;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fafafa;
    border: 0.1rem solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px 2px #47e6f2, inset 0px 0px 5px 2px #47e6f2;
    border-radius: 50px;
    margin: 12px;
}
button.collapse-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
button {
    outline: none !important;
}
