html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(20,2,64);
    background: linear-gradient(135deg, rgba(20,2,64,1) 0%, rgba(79,11,129,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#logo {
    display: flex;
    height: 16rem;
    align-items: center;
    margin-bottom: 2rem;
}
#logo img {
    height: 100%;
    width: 100%;
}
#logo span {
    display: block;
    height :75%;
    width: 1ch;
    background: #fafafa;
    opacity: .67;
    margin: 0 5ch;
}
#text {
    border: 2px solid #fcfffb;
    background: transparent;
    font-size: 30pt;
    box-shadow: 0px 0px 5px 2px #47e6f2, inset 0px 0px 5px 2px #47e6f2;
    padding: 7px;
}
#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    width: 1000px;
    margin: 0 auto;
}
.left, .right {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
.widget {
    position: relative;
    width: 100%;
    min-height: 8rem;
    overflow: hidden;
}
.left .widget {
    flex-grow: 1;
}
.right .widget:nth-of-type(1), .right .widget:nth-of-type(2) {
    flex-grow: 1;
}
iframe, canvas {
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    margin: 4px;
}
.btn-hide {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    transition: opacity 200ms ease;
}
.btn-hide:hover {
    opacity: 0.9;
}
.curtain {
    transition: opacity 200ms ease;
}
.curtain.activated {
    opacity: 0.1;
    filter: blur(10px);
}
